body {
    background-image:url(pattern.jpg)
}
header {
    background-color: white; 
    position: fixed;
    top: 0;
    width: 100%;

}
nav {
    float: right;
    margin-right: 3%;
}
li {
    display: inline;
}
a {
    text-decoration: none;
}
nav a {
    padding: 8px;
    color: blue;
    
  }
nav a:hover{
    background-color: blue;
    color: white;
}  
section {
 background-color: white;   
 margin-top: 5%;
 margin-right: 10%;
 margin-left: 10%;
}
div {
    padding-top: 15px;
    border-bottom: 1px solid black ;
}
footer{
    background-color: black;
    color : white;
    text-align: center;
    padding: 1%;
}
h1 {
    text-align: center; 
    padding: 20px;
}